.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container{
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}
.cart-container h2{
    text-align: center;
}
.cart-price{
    margin-left: 15px;
}